{% extends '@App/main.html.twig' %}

{% block title %}{{ 'All news'|trans }}{% endblock %}
{% block body %}
    <body class="page-news">
    {% include '@App/include_html/_google_tag.html.twig' %}
    <div id="page-wrapper" class="page">
        {{ render(controller('AppBundle:Html:renderHeader', {'isShowingFilters': false})) }}
        <main class="main">

            <div class="page-content">

                <div class="s-news">

                    <div class="container">
                        <div class="sec-header">
                            <h1 class="sec-title">{{ 'News'|trans }}</h1>
                            <form action="" method="get" class="news_sorting">
                                <span class="news_sorting_wrap">
                                  <select class="news_sorting_select" name="days">
                                    <option value="">{{ 'All time'|trans }}</option>
                                    <option value="30" {{ days == 30 ? 'selected' : '' }}>{{ 'Per month'|trans }}</option>
                                    <option value="180" {{ days == 180 ? 'selected' : '' }}>{{ 'For 6 months'|trans }}</option>
                                    <option value="365" {{ days == 365 ? 'selected' : '' }}>{{ 'For year'|trans }}</option>
                                  </select>
                                </span>
                            </form>
                        </div>
                    </div>

                    <div class="container">
                        <div id="newses" class="row"></div>
                        <div class="row">
                            <div class="col-12"><ul id="page_pagination" class="pagination"></ul></div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
        {% include '@App/include_html/_footer.html.twig' %}
    </div>
    </body>
{% endblock %}
