{% extends '@App/main.html.twig' %}
{% block metadata %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="{{ news.meta_keywords }}">
    <meta name="description" content="{{ news.meta_description }}">
    <meta name="title" content="{{ news.meta_title }}">
{% endblock metadata %}
{% block title %}{{ news.meta_title }}{% endblock %}

{% block body %}
    <body class="">
    {% include '@App/include_html/_google_tag.html.twig' %}
    <div id="page-wrapper" class="page page-news-single">
        {{ render(controller('AppBundle:Html:renderHeader', {'isShowingFilters': false})) }}
        <main class="main">
            <div class="page-content">
                <div class="s-news-single">
                    <div class="container">
                        <div class="breadcrumb-wrap">
                            <ul class="breadcrumb">
                                <li><a href="{{ path('home') }}">{{ 'Home'|trans }}</a></li>
                                <li><a href="{{ path('news') }}">{{ 'All news'|trans }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <div class="news-s">
                            <div class="news-s_header">
                                <div class="news-s_img">
                                    <img src="/{{ news.img }}" alt="{{ news.title }}">
                                    <div class="news-s_title-wrap">
                                        <span class="news-s_date">{{ news.datetime }}</span>
                                        <h1 class="news-s_title">{{ news.title }}</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="news-s_content">
                                {{ news.description|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include '@App/include_html/_footer.html.twig' %}
        <textarea name="" id="simplemde-textarea" cols="0" rows="0" class="simplemde-textarea"></textarea>
    </div>
    {% include '@App/include_html/_m_slide_panel.html.twig' %}
    </body>
    {% block script %}
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    {% endblock %}
{% endblock %}
