<div class="house">
    <a href={{ path('realty_show', {id: realty.id}) }} class="house_img-wrap">
        <div class="house_img">
            <img src="{{ realty.first_img }}" alt="alt">
{#            <img data-src="{{ realty.first_img }}" class="lazy-load" alt="alt">#}
        </div>
        {% if realty.status %}
            <span class="house_ad-type">{{ realty.status }}</span>
        {% endif %}
        <span class="house_number-photos">{{ realty.count_imgs }}</span>
    </a>
    <div class="house_cont">
        <p class="house_date">{{ realty.datetime }}</p>
        <h3 class="house_adress"><a href="#" data-izimodal-open="#m-house-window">{{ realty.street }}</a></h3>
        <h4 class="house_region">{{ realty.district }}</h4>
        <p class="house_price">{{ realty.price }}</p>
        <span class="house_sizes"><span>{{ realty.rooms }} {{ 'room'|trans }}</span>
            {% if realty.deal_type.id != 1 %}
            <span>({{ realty.square }} / {{ realty.square_living }} / {{ realty.square_kitchen }} м<sup><small>2</small></sup>)</span>
            {% endif %}
        </span>
        <div class="house_description">{{ realty.description }}</div>
    </div>
</div>