{% extends '@App/main.html.twig' %}
{% block title %}{{ 'Page not found'|trans }}{% endblock %}
{% block body %}
    <body class="">
    {% include '@App/include_html/_google_tag.html.twig' %}
    <div id="page-wrapper" class="page">
        {{ render(controller('AppBundle:Html:renderHeader', {'isShowingFilters': false })) }}
        <main class="main">
            <div class="page-content">
                <div class="container">
                    <div class="page-404">
                        <div class="offset3">
                            <dl class="head__page-404">
                                <div class="error-text">
                                <dt class="title">404. Страница не найдена</dt>
                                </div>
                                <dd class="description">
                                    Извините, но найти нужную Вам страницу не удалось.
                                </dd>
                            </dl>

                            <dl class="unordered-list">
                                <dt class="title">Возможные причины:</dt>
                                <dd class="item-list">неверный URL страницы - проверьте на наличие ошибок;</dd>
                                <dd class="item-list">страница не существует;</dd>
                                <dd class="item-list">страница временно недоступна или удалена.</dd>
                            </dl>

                            <p>
                                В любом случае, мы не дадим Вам заблудиться и поможем найти<br>
                                нужную для Вас информацию.
                            </p>
                            <p>
                                Так же Вы можете перейти на <a href={{ path('home') }}> главную страницу</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
       {% include '@App/include_html/_footer.html.twig' %}
       {% include '@App/include_html/_m_slide_panel.html.twig' %}
    </div>
    </body>
{% endblock %}
