ul.breadcrumbs {
    padding: 8px 10px;
    list-style: none;
}

/* Display list items side by side */
ul.breadcrumbs li {
    display: inline;
    font-size: 10px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumbs li+li:before {
    padding: 5px;
    color: black;
    content: ">\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumbs li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumbs li a:hover {
    color: #01447e;
    text-decoration: underline;
}