@media print {
    .small-img {
        margin-top: 5px;
    }

    .m-house-box-print {
        width: 880px;
        margin: 5px auto;
    }
    .block-title {
        text-align: center;
        font-size: 15px;
        color: #000;
        background: #cbcbcb;
    }
    .rieltor_phone {
        color: #000000;
    }
}

.small-img {
    margin-top: 5px;
}

.m-house-box-print {
    width: 880px;
    margin: 5px auto;
}
.block-title {
    text-align: center;
    font-size: 18px;
    color: #000;
}
