{% extends '@App/main.html.twig' %}
{% block metadata %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="{{ meta_keywords }}">
    <meta name="description" content="{{ meta_description }}">
{% endblock metadata %}
{% block title %}{{ 'About Us'|trans }}{% endblock %}
{% block body %}
    <body class="">
    {% include '@App/include_html/_google_tag.html.twig' %}
    <div id="page-wrapper" class="page">
        {{ render(controller('AppBundle:Html:renderHeader', {'isShowingFilters': false })) }}
        <main class="main">
            <div class="page-content">
                <div class="s-about">
                    <div class="container">
                        <div class="sec-header">
                            <h1 class="sec-title">{{ 'About'|trans }}</h1>
                        </div>
                    </div>
                    <div class="container">
                        <div class="about-wrap">
                            <div class="about">
                                <div class="about_img">
                                    <img src="/{{ about.img }}" alt="О нас">
                                </div>
                                <div class="about_cont">
                                    <p class="simplemde-content">{{ about.description|raw|nl2br }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="s-achievements">
                    <div class="container">
                        <div class="sec-header">
                            <h2 class="sec-title">{{ 'Growth'|trans }}</h2>
                        </div>
                    </div>
                    <div class="container">

                        <div class="row">
                            {% for growth in growths %}
                            <div class="col-12 col-md-6 col-lg-3 col-xl-3">
                                <div class="achievements">
                                    <h3>{{ growth.name }}</h3>
                                    <p>{{ growth.description }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="s-contact">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                <div class="phones-wrap">
                                    <div class="sec-header">
                                        <h2 class="sec-title">{{ 'Contacts'|trans }}</h2>
                                    </div>
                                    <ul class="phones">
                                        {% for phone in phones %}
                                        <li><a href="tel:{{ phone.phone }}"><small>{{ phone.phone[:3] }}</small>{{ phone.phone[3:] }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                <div class="adress-wrap">
                                    <div class="sec-header">
                                        <h2 class="sec-title">{{ 'Our addresses'|trans }}</h2>
                                    </div>
                                    <ul class="adress">
                                        <li><a href="mailto:{{ email }}">{{ email }}</a></li>

                                        {% for address in addresses %}
                                        <li>{{ address.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-4 col-xl-5">
                                <div class="social-wrap">
                                    <div class="sec-header">
                                        <h2 class="sec-title">{{ 'we are in social networks'|trans }}</h2>
                                    </div>
                                    {{ render(controller('AppBundle:Html:renderSocial')) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include '@App/include_html/_footer.html.twig' %}
        {% include '@App/include_html/_m_slide_panel.html.twig' %}
        <textarea name="" id="simplemde-textarea" cols="0" rows="0" class="simplemde-textarea"></textarea>
    </div>
    </body>
    {% block script %}
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    {% endblock %}
{% endblock %}
