{% extends '@App/main.html.twig' %}
{% block title %}{{ 'Contacts'|trans }}{% endblock %}
{% block body %}
<body class="page-contacts">
{% include '@App/include_html/_google_tag.html.twig' %}
<div id="page-wrapper" class="page">
    <header>
        <div class="container">
            <div class="contacts-header-line">
                <a href="{{ path('home') }}" class="logo">
                    <div class="logo_img">
                        <img src="img/logo_white.svg" alt="{{ 'logo'|trans }}">
                    </div>
                    <div class="logo_text">
                        <h2 class="logo_title">Метраж</h2>
                        <h3 class="logo_sub-title">{{ 'Real estate agency'|trans }}</h3>
                    </div>
                </a>
                <a href="{{ app.request.headers.get('referer') }}" class="contacts-back">{{ 'Back'|trans }}</a>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="page-content">
            <div class="s-contacts">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-8">
                            {{ render(controller('AppBundle:Html:renderPhones')) }}
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-5">
                            {{ render(controller('AppBundle:Html:renderAddressesAndEmail')) }}
                        </div>
                        <div class="col-12 col-md-12 col-lg-5 col-xl-8">
                            <div class="social-wrap">
                                <div class="sec-header">
                                    <h2 class="sec-title">{{ 'we are in social networks'|trans }}</h2>
                                </div>
                                {{ render(controller('AppBundle:Html:renderSocial')) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="s-contacts_map">
                    <div class="contacts_map-wrap">
                        <div id="contacts_map" class="contacts_map"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
{% endblock %}
