{% extends '@App/main.html.twig' %}
{% block title %}{{ 'Owners'|trans }}{% endblock %}
{% block body %}
<body class="page-owners">
{% include '@App/include_html/_google_tag.html.twig' %}
<div id="page-wrapper" class="page">
    {{ render(controller('AppBundle:Html:renderHeader', {'isShowingFilters': false})) }}
    <main class="main">
        <div class="page-content">

            <div class="container">
                <div class="sec-header">
                    <h1 class="sec-title">{{ 'Owners'|trans }}</h1>
                </div>
            </div>


            <div class="s-form">
                <div class="container">
                    <h2 class="s-form_title">{{ 'WHAT REAL ESTATE'|trans }}?</h2>

                    <form action="{{ path('api_letter_owner') }}" id="form-owners" class="s-form-form form-owners" method="post">
                        <div class="s-form_i s-form_i-radio">
                            <div class="search_field">
                                <p class="search_field_placeholder">{{ 'Real estate action'|trans }}</p>
                            </div>
                            <div class="search_drop">
                                <ul>
                                    {% set index = 1 %}
                                    {% for deal_type in deal_types %}
                                    <li>
                                        <input class="search_radio-i" type="radio" id="action{{ index }}" name="deal_type" value="{{ deal_type.name }}">
                                        <label class="search_radio-l" for="action{{ index }}">{{ deal_type.name }}</label>
                                    </li>
                                        {% set index = 1 + index %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="s-form_i s-form_i-radio">
                            <div class="search_field">
                                <p class="search_field_placeholder">{{ 'Property type'|trans }}</p>
                            </div>
                            <div class="search_drop">
                                <ul>
                                    {% set index = 1 %}
                                    {% for type in types %}
                                    <li>
                                        <input class="search_radio-i" type="radio" id="property{{ index }}" name="type" value="{{ type.name }}">
                                        <label class="search_radio-l" for="property{{ index }}">{{ type.name }}</label>
                                    </li>
                                        {% set index = 1 + index %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="s-form_i">
                            <input class="s-form_i_inner s-form_input" required type="text"  maxlength="11" name="price" placeholder="{{ 'Price'|trans }}">
                        </div>
                        <div class="s-form_i">
                            <input class="s-form_i_inner s-form_input" required type="text"  maxlength="3" name="square" placeholder="{{ 'Square'|trans }}">
                        </div>

                        <div class="s-form_i s-form_i-radio">
                            <div class="search_field">
                                <p class="search_field_placeholder">{{ 'District name'|trans }}</p>
                            </div>
                            <div class="search_drop">
                                <ul>
                                    {% set index = 1 %}
                                    {% for district in districts %}
                                        <li>
                                            <input class="search_radio-i" type="radio" id="district{{ index }}" name="district" value="{{ district.name }}">
                                            <label class="search_radio-l" for="district{{ index }}">{{ district.name }}</label>
                                        </li>
                                        {% set index = 1 + index %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="s-form_i">
                            <input class="s-form_i_inner s-form_input" required type="tel" name="phone" placeholder="{{ 'Phone'|trans }}">
                        </div>
                        <div class="s-form_i s-form_i-button">
                            <button class="s-form_i_inner button button-s-form" type="submit">{{ 'Send'|trans }}</button>
                        </div>
                    </form>
                </div>
            </div><!-- s-form -->
        </div>
    </main>
    {% include '@App/include_html/_footer.html.twig' %}
    {% include '@App/include_html/_m_slide_panel.html.twig' %}
</div>
{% include '@App/include_html/_modals.html.twig' %}
</body>
{% endblock %}
