{% extends '@App/main.html.twig' %}
{% block metadata %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="{{ meta_keywords }}">
    <meta name="description" content="{{ meta_description }}">
    <meta name="title" content="{{ meta_title }}">
{% endblock metadata %}
{% block title %}{{ title |trans }}{% endblock %}
{% block body %}
    <div class="page-search">

    <div id="srch_seo_page-wrapper" class="srch_page">
        <div class="srch_page-h-m">
            {{ render(controller('AppBundle:Html:renderHeader')) }}
            <div id="srch_main" class="srch srch_main">
                <div class="srch_main-wrap map-show">
                    <div class="srch_main-map-wrap">
                        <div id="map" class="map"></div>
                        {#<span class="map-empty-info active">Объектов с данным местоположением/ориентиром нет. Пожалуйта выберите другое название</span>#}
                    </div>
                    <div class="srch_main-content-wrap">
                        <div class="srch_main-content">
                            <div class="srch_main-content-inner">
                                <main>
                                    <div class="filter-line">
                                        <span id="srch_filter" class="srch_filter button">Фильтр</span>
                                    </div>
                                    <div class="sorting-line">
                                        <div class="container">
                                            <div class="sorting">

                                                <form action="#" method="post" class="sorting_i form-sorting">
                                                    <span class="sorting_info"><span id="count_advert"></span> {{ 'adverts'|trans }}</span>
                                                    <span class="sorting_i_select-wrap">
                                                  <select id="adverts_sort" class="sorting_i_select" name="name">
                                                    <option value="datetime" selected>{{ 'By date of addition'|trans }}</option>
                                                    <option value="price">{{ 'By price'|trans }}</option>
                                                  </select>
                                                </span>
                                                </form>

                                                <div class="sorting_i sorting_view">
                                                    <span class="sorting_info">{{ 'View'|trans }}:</span>
                                                    <span class="sorting_i_select-wrap">
                                                  <select id="sorting_view" class="sorting_i_select" name="name">
                                                    <option value="map" selected>{{ 'List and map'|trans }}</option>
                                                    <option value="list_map">{{ 'List'|trans }}</option>
                                                  </select>
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="srch_content-wrap">
                                        <div class="container">
                                            <div id="srch_row-content" class="row">
                                            </div>
                                            <div class="row">
                                                <div class="col-12"><ul id="page_pagination" class="pagination"></ul></div>
                                            </div>
                                        </div>
                                    </div>
                                </main>
                            </div>
                        </div>
                    </div>

                    <div id="btn-toggle-mobile" class="btn-toggle-mobile">
                        <span class="btn-toggle-mobile_map">{{ 'Map'|trans }}</span>
                        <span class="btn-toggle-mobile_list">{{ 'List'|trans }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h1>{{ header_title }}</h1>
            <div class="seo-description">{{ description }}</div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-5 offset-md-1 col-lg-3 offset-lg-0 col-xl-2 footer_menu-col">
                        {% include '@App/footer/_widget1.html.twig' %}
                    </div>
                    <div class="col-12 col-sm-6 col-md-5 offset-md-1 col-lg-3 offset-lg-0 col-xl-3 footer_menu-col">
                        {% include '@App/footer/_widget2.html.twig' %}
                    </div>
                    <div class="col-12 col-sm-6 col-md-5 offset-md-1 col-lg-3 offset-lg-0 col-xl-3 footer_menu-col">
                        {% include '@App/footer/_widget3.html.twig' %}
                    </div>
                    <div class="col-12 col-sm-6 col-md-5 offset-md-1 col-lg-3 offset-lg-0 col-xl-3 offset-xl-1">
                        {% include '@App/footer/_about.html.twig' %}
                    </div>
                </div>
            </div>
        </footer>
    </div>
    </div>
        {% include '@App/include_html/_m_slide_panel.html.twig' %}
        {% include '@App/include_html/_modals.html.twig' %}
    </body>
{% endblock %}
