{% extends '@App/main.html.twig' %}
{% block title %}{{ 'Service catalog'|trans }}{% endblock %}
{% block body %}
    <body class="page-services">
    {% include '@App/include_html/_google_tag.html.twig' %}
    <div id="page-wrapper" class="page">
        {{ render(controller('AppBundle:Html:renderHeader', {'isShowingFilters': false})) }}
        <main class="main">
            <div class="page-content">
                <div id="s-services" class="s-services">
                    <div class="container">
                        <div class="sec-header">
                            <h1 class="sec-title">{{ 'Service catalog'|trans }}</h1>
                        </div>
                    </div>
                    <div class="container s-services_container">
                        {#<div class="s-services_top-text">#}
                            {#{{ description }}#}
                        {#</div>#}
                        <div class="row s-services_top-row">
                            {% for serviceTop in servicesTop %}
                            <div class="col-12 col-md-6 col-lg-3 col-xl-3">
                                <div class="s-services_top-i">
                                    <h3>{{ serviceTop.title }}</h3>
                                    <p>{{ serviceTop.text }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% for service in services %}
                        <div class="services-t">

                            <div class="services-t_btn">
                                <h2 class="services-t_btn_title">{{ service.title }}</h2>
                                <div class="services-t_btn_icon">
                                    <i class="icon-minus"></i>
                                    <i class="icon-plus"></i>
                                </div>
                            </div>
                            <div class="services-t_cont">
                                <div class="services-t_container">
                                    <h3 class="services-t_cont_title">{{ service.listTitle }}</h3>
                                    <div class="row">
                                        {% if serviceItems[service.id] is defined %}
                                            {% set servieItem = serviceItems[service.id] %}
                                            {% for service_item in servieItem %}
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                                <div class="services-t_i">
                                                    <img src="/{{ service_item.img }}" alt="#">
                                                    <h4>{{ service_item.name }}</h4>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="s-form">
                    <div class="container">
                        <h2 class="s-form_title">{{ 'YOU HAVE QUESTIONS'|trans }}</h2>
                        <h4 class="s-form-sub-title">{{ 'Fill out the form, our operator will contact you'|trans }}</h4>

                        <form action="{{ path('api_callback') }}" id="form-question" class="s-form-form form-services" method="POST">
                            <input type="text" name="subject" value="{{ 'Question'|trans }}" hidden>
                            <div class="s-form_i">
                                <input class="s-form_i_inner s-form_input" required type="text" name="fullname" placeholder="{{ 'Name'|trans }}">
                            </div>
                            <div class="s-form_i">
                                <input class="s-form_i_inner s-form_input" required type="tel" name="phone" placeholder="{{ 'Phone'|trans }}">
                            </div>
                            <div class="s-form_i">
                                <input class="s-form_i_inner s-form_input" required type="text" name="text" placeholder="{{ 'Question'|trans }}">
                            </div>
                            <div class="s-form_i">
                                <button class="s-form_i_inner button button-s-form" type="submit">{{ 'Send'|trans }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        {% include '@App/include_html/_footer.html.twig' %}
        {% include '@App/include_html/_m_slide_panel.html.twig' %}
    </div>
    {% include '@App/include_html/_modals.html.twig' %}
    </body>
{% endblock %}
