{% autoescape %}
<?xml version="1.0" encoding="UTF-8" ?>
<urlset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
        http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd"
        xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

    {% for url in urls %}
        <url>
            {# check if hostname is not already in url #}
            <loc>{% if url.loc|replace({hostname:''}) == url.loc %}
                    {{hostname}}{{url.loc}}
                {% else %}
                    {{url.loc}}
                {% endif %}
            </loc>

            {% if url.priority is defined %}
                <priority>{{ url.priority }}</priority>
            {% endif %}
        </url>
    {% endfor %}
</urlset>
{% endautoescape %}