{% extends '@App/main.html.twig' %}

{% block title %}{{ 'Agents'|trans }}{% endblock %}
{% block body %}
    <body class="page-rieltors">
    {% include '@App/include_html/_google_tag.html.twig' %}
    <div id="page-wrapper" class="page">
        {{ render(controller('AppBundle:Html:renderHeader', {'isShowingFilters': false})) }}
        <main class="main">
            <div class="page-content">
                <div class="s-rieltors">
                    <div class="container">
                        <div class="sec-header">
                            <h1 class="sec-title">{{ 'Our realtors'|trans }}</h1>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            {% for agent in agents %}
                                {% set number = agent.numbers[0] %}
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                <div class="rieltor">
                                    <div class="rieltor_text-img">
                                        <div class="rieltor_img-wrap">
                                            <div class="rieltor_img-blur">
                                                <img src="/{{ agent.img ?: 'img/agent.png' }}" alt="#">
                                            </div>
                                            <a href="{{ path('agent_show', {id: agent.id}) }}" class="rieltor_img">
                                                <img src="/{{ agent.img ?: 'img/agent.png' }}" alt="{{ agent.fullname }}">
                                            </a>
                                        </div>
                                        <div class="rieltor_text-wrap">
                                            <h2 class="rieltor_name">{{ agent.fullname }}</h2><!-- h1 ? -->
                                            <p class="rieltor_text">{{ agent.description }}</p>
                                        </div>
                                    </div>
                                    <div class="rieltor_buttons">
                                        <a href="{{ path('agent_show', {id: agent.id}) }}" class="rieltor_button rieltor_button-more">{{ 'List of objects'|trans }}</a>
                                        <span class="rieltor_button rieltor_phone">
                                            {{ render(controller('AppBundle:Html:renderPhone', {number: agent.numbers[0]})) }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="s-form">
                    <div class="container">
                        <h2 class="s-form_title">{{ 'WANT TO JOIN OUR TEAM OF PROFESSIONALS'|trans }}?</h2>
                        <h4 class="s-form-sub-title">{{ 'Leave the application and we will discuss with you the details of our further cooperation'|trans }}!</h4>

                        <form action="{{ path('api_agent_join') }}" id="form-join" class="s-form-form form-join" method="POST">
                            <input type="text" name="subject" value="join" hidden>
                            <div class="s-form_i">
                                <input class="s-form_i_inner s-form_input" required type="text" name="name" placeholder="{{ 'What is your name'|trans }}?">
                            </div>
                            <div class="s-form_i">
                                <input class="s-form_i_inner s-form_input" required type="tel" name="phone" minlength="9" placeholder="{{ 'Phone number'|trans }}">
                            </div>
                            <div class="s-form_i">
                                <button class="s-form_i_inner button button-s-form" type="submit">{{ 'Send'|trans }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        {% include '@App/include_html/_footer.html.twig' %}
        {% include '@App/include_html/_m_slide_panel.html.twig' %}
    </div>
    {% include '@App/include_html/_modals.html.twig' %}
    </body>
{% endblock %}
