{% extends '@App/main.html.twig' %}
{% block metadata %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="{{ meta_keywords }}">
    <meta name="description" content="{{ meta_description }}">
{% endblock metadata %}
{% block title %}{{ 'Agent'|trans }} {{ agent.fullname }} {% endblock %}
{% block body %}
    <body class="page-rieltor-card">
    {% include '@App/include_html/_google_tag.html.twig' %}
    <div id="page-wrapper" class="page">
        {{ render(controller('AppBundle:Html:renderHeader', {'isShowingFilters': false})) }}
        <main class="main">
            <div class="page-content">
                <div class="s-rieltor-card">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="rieltor">
                                    <div class="rieltor_text-img">
                                        <div class="rieltor_img-wrap">
                                            <div class="rieltor_img-blur">
                                            </div>
                                            <div class="rieltor_img">
                                                <img src="/{{ agent.img ?: 'img/agent.png' }}" alt="#">
                                            </div>
                                        </div>
                                        <div class="rieltor_text-wrap">
                                            <h1 class="rieltor_name">{{ agent.fullname }}</h1><!-- h1 ? -->
                                            <p class="rieltor_text">{{ agent.description }}</p>
                                            <a href="{{ path('agent_review', {id: agent.id}) }}" class="rieltor_link">{{ 'Mentioned in %count_reviews% reviews'|trans({'%count_reviews%': count_reviews})}}</a>
                                        </div>
                                    </div>
                                    <div class="rieltor_buttons">
                                        <span class="rieltor_button rieltor_phone">
                                            {% for agent_number in agent.numbers %}
                                                {{ render(controller('AppBundle:Html:renderPhone', {number: agent_number})) }}
                                            {% endfor %}
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="container agent-search">
                    <div class="sec-header">
                        <h2 class="sec-title">Список Обьектов</h2>
                    </div>
                    <div id="agent-realties" class="row" data-agent_id="{{ agent.id }}">
                        <div class="col-12"><ul id="page_pagination" class="pagination"></ul></div>
                    </div>
                    <div id="pagination-row" class="row">
                        <div class="col-12"><ul id="page_pagination" class="pagination"></ul></div>
                    </div>
                </div>
            </div>
        </main>
        {% include '@App/include_html/_footer.html.twig' %}
        {% include '@App/include_html/_m_slide_panel.html.twig' %}
    </div>
    {% include '@App/include_html/_modals.html.twig' %}
    </body>
{% endblock %}
