<div class="widget widget_about">
    <div class="footer_logo-wrap">
        <a href="{{ path('home') }}" class="logo">
            <div class="logo_img">
                <img src="/img/logo.svg" alt="{{ 'logo'|trans }}">
            </div>
            <div class="logo_text">
                <span class="logo_title">Метраж</span>
                <span class="logo_sub-title">{{ 'Real estate agency'|trans }}</span>
            </div>
        </a>
    </div>
    <div class="footer_social-buttons">
        {{ render(controller('AppBundle:Html:renderSocial')) }}
    </div>
    <div style="margin-bottom:20px;">
        <a style="width: 88px;height:31px;" target="_blank" href="https://flatfy.ua" title="Партнер пошукової системи нерухомості Flatfy"><img width="88" height="31" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAABKCAYAAAC FBNmBAAAABGdBTUEAALGPC/xhBQAAI8BJREFUeAHtXQmAFNW1fVXdMywzLCoo CgIKAi4YVMRE3FBj0K8/hqifGBfUuMX4lcQE4xKJiX6DGvlR4UeiuOVrNHGJSyQaEXe/ cYlKZJNVFKKiMjB7d/1z3qtbXV1dVd093TMOY1+9fW+9e999S79Tb6nqwVJfADn37j gs1ZIe5Tj2KEc5I8EDLGX1Uo6qhV5rOapRWWqTo6w66BushFqadqzFViKxqKqq5p/W CQubv4BqV4qs9ECn6wGrI2rk3D1wUEvKmugodShAOoGAZbksHGla8jo3RayUhizLalC O87xlW087afvJ6imrXxNbRVZ64MvWA+0GYOfOPWta0p99W6nUKQAmQKvsDFwNIB 0ICzWgJOUAWoyUpJwMOscS27bvTCaSd1vfXbHKOFY+Kz3w5egBFxnla6xz3/D+zZs bfwiwnQdE9hLMsQTRPcACmA4uMKvqCohOGUZxeGYoBHrISid+WX36qtfD8lfSKj3Q 1XqgbAB27hu0dctm63LlpM8CknqajiIQWYQBZPZVxpKphPhKSnwOLMURncg18bVA VqT9BfvlS6tPXfVGV/vCKu2p9IC/BwQp/rSidMyWVsvcwVPSTnoGgNNPQMUgogvAB GyUYXadGPORL7/fjhk5hVA3V1V3v9w6adnGmLAVU6UHttgeKAnAzp1Ddmpqab3Tc qwD2APFA5bFyyyLmROXsszW8dzltSypudSWZXaYPXdOZ2z7Q2VbZ3U/ffWjzFOhSg 90pR5oM4CbfrfjscDT3LTj9JUgAi4BXAgiMyhFL+YFZC6is/IHv4iceCyDTmZ/fH31TsN +ak14pjWYr3Jd6YEttQcEewXX33Gm2y233notgMuDqmxABQDH4Jn5lbOrObCKBHjB tYhwzFcfS71U7VR9yzpzxfqICJXkSg9sUT1QFICd+3avbv78s7ux7T1etzIXodmA1vNfF oSRTTIxguhSDfGlDKN8/kF7MAbj2u91S1pHWKevXh60Vq4rPbCl9YAgJ2+9Ad7aps8 2Pohp9PBI5yB+gnjMZw8GLtE/OONnDrnsdXYyObH6jBX/CBZZua70wJbUAwUB2Hl8 eLemNY1/QcMmCCjYyJwVK9PAkUEDgJRYsqQO7mG9YO6EnHNIFjjUCvrnTPCstEuo yidKJQ/odvbKRZJWkZUe2NJ6AG9HxRP3vM1rmu4COCYQIPoREAGl9YwU0IoMi+qk TSql0XG6pNOYC6yB6kqtm/iZWBI93J83FMag9Os6rmsTHfZtHNU6z7lj0MBM/IpW6Y EtqwcEEZG1bv6fQTPTjrqADsQAM1C2hSSvV2jg0Cs4pQfLC+Yv1h6ss66HZb3dbeve+ +MHEpuC9k5yzZvs1uCPi6hPFXy7g+uKyLOluCZR0T3A/EHLu+C2DkdkLZh6w7MF3F Bwjg5yjJ2Bm2YNPj6VVhfIjIZfBhmMQVJn14nUOivNNAjDer6Gbv4zNljcvA7uDNQptc7 sTBMSlVLrbl4pwZ8mPj4pdaP061I+a4nyRjdvqPsfKbITSALvOPBd4NXgJvBH4E/BV4 OrwVHUD4Z7wHxx5XMwXyn9Krir0Fg0ZBWYb9gtBL8DHgouN41BwCvB7D/eBNmXl AvAu4I7DQER4eTMGrxzk3LQAKePXo7CLbhHDe5hwyNFp+aNx9oRkFJL0SmZHNgD 561PXDzbOqPHuWtuM5G/kE/eTKeAp4N3BEfRLBjOCzEy/3Pg/QO2elx/BbwskL6lXRI 4L4M5G/qJ7RoH5g2uVOLMzpvkMTGBeDPdHUz5hRO/9Bzivrcx7dwDQPSRfSud5LC JUoOFMxh0b4aFj5lzTUjRo+xyY6DUuk96syTB6rKOB13icbamTikzt0jWQPu7Uudx3Jy UYO3hSXVj482DhjPfF0BbocwnwLeC48DLqp0L5kwbpMOQEAQvffhe+g+pbOHEdgfB yybxO5tMpUQ6G/k548aBl0X0B9O3UxD3EznUNPvWs4CacRzucvJLJ4JMtq362p0e6a Op53bKGrC3smt3UKob+rrxM+VsXqecj95RTt0a7eL5ulcmo8mvy0MhlCS5OVDqa7ec TAzUr1tfZQ8Yiz8HMAhl9sHOaJNy6tcr55NFyvl0aVY+AtbcDUx86ixNS0f1xIx+Iy6O1J k67gOdpZ4FDyuwSFZ4FPj5gP+egWv/JWfgLZ3ibq47l9i465D/R0XE2K0I33Z1zQGwc 9vw/k31TVcTKx5wXACxJj7VoNmqUondJ6vEbicquz9XFuGU/mSxSi15SKXewiq11T0 LYDDfHcHAlHBySS+RodOH5PnjdYwRx6rkHt9V9g77GVvIZ/rzVSq97FHV+ga2uLiZZC
 K7JUjZbnzM3hObbh4yqdt5qx4ICdceSTUI+gi4UPBKHcydSa6M5N45irpFGbag9NDVo lv/nHFcRLv+E77FgJehlxQRv11dczqlqb75l8AJlnQETTzbgw5S1Sc9o6oOvioWvGyBvc 1IVfW1aarbSc+pxEi8yKUPqxBfJMvSdwdXQtfLYVeapTFs/Uar6snzVPURv4kFry6zzxC V3Oc81e2UF1ViL67AkN/PGscsD8munk6nb+AbZ8zfAXQ9yti7yHJmw399kXkq7uE9s BeSbwg3RaZy78tziE5BWQB25gwf5KScKd6AloHtSgMojHWAzh51gqo65g5l9863Zctu p1Wzrao6/HqVPIRnBQlwNoAESEw3S2kj+WkPPkR1m3S/svvtmh00z5VV3UtVjb9EVR 01B+9uYEsY0h5f2wY3rqs7NU/Icpi55D2ziEB18L0KfEEReSqu8T0wE+YsDMS4c9QsA B8A/leMX4easirf0ND4Y+CkmktnvXxGlUVy0GtAQSbH/kBVH36dsmwCsG2UHH2yqp qIGxm7xWUpS8r3S3vkt1TV0bcpq4pnMm2jxM7fUNXH3qMcu9pdjfMQDu3CEjr7RNu Z5tx3fNsbV1j1LoNbVv+HZFuENN7pDgLzWTDz8HlkhUrvgYMRgv0aRzzBvwt8Eng78 CHgTrN8Rl0yA8j57Yh+tmOdqdIy97mDG7DlIBe2d5usqvafxrwFEUHY8ulqlW7gHjSbE sOPVIn9pnoAlhsEpdGNtHc8SFV9fSZuGIVvdVo//0ClNn+EevPukCF7wF6q+tBrEB+k2 2qktJsSN5RhzetePYEu7US1iHt0nti/hp2z9KXg58Ct4AqVrwe+kyfU27DzufMp4N+DO 8VjI9Qji7wZoKmx8TtYGfcQoOpxjw+RVKxeA7HfnZ4VIO8FnkPtts/BasRuY9RJxxykFj5 5WxaokuMuVNa2HKfADcHjSuoEmZOoUdVfv17PkNpY4MePzz9Ljdh9X3XE+H3Uk3d cpZyWBi9nYtfjlLXzRN02Lp3ZxiDjL4yc4WUov/J1hOwRE/Y22HiwUpltYzqpRNO/x+T/ HDZ+R+/G+HQKkwdgzFQn6zeWUC15c0nPfxjcZh60VHLcBcUvYVPNKu2C5KW3V6t/ P/NK9dNzJqtU3TrdAVy6JsdP0wDSgNXlueCFntzrdGXVDii6s1Z+gN8qgJZ/sEGdc8U cddKkiWrz+295cbiKsCw2X8/1+maR1f60M8H5zfBBXobyKiNjwvFOU/gSJyZQxRTZA7 1h2T7Sas4atoiDQg3gphuHjsKMt29wFsq67r41HhUdF9PmcNO/Fr2QY7h/3ivqkosuB GiBUFBi8IHK6r+HBjH3w1IuD7mSexU/EbZ89r56a9mHWeW+/PYq9Z1TsENo5M0Ve4 eth2EWPgKFZcqTcil5TteQbv5uVpDyXQyLCcXXAz+OsVdMpffAznlCPJPH3mnMZgZu UcfqeQgDV6QcLIlMDPtGUXtQtjBVv0H94MfTQxv7x3kvq0VP3+XZEjtjxYLy/ZzYcX9l9 eDZTXF00zWXh2ZYuHy9un/2Lz1bEm1iebLCEN2rQ9o51nMur8I9cBTx4KozEhdIu4B 5NnAV+CYwTiHVbDBXDEeBy71i4fNrPt8mm7EKJYR4OCJ+hTwCjOt/hi/1O9BHLCH1 LHuS7hTs9yboxygYyiL1IpaA4uIS0h60f1GFc7l66flnqNcXvR+Z7/pZd3i2xNAJRtdlGtU a+FXPXojCG8acK7+vbrp3fqT79FkPZGbhoYfAz7RZ2i1Swzqtxjq3juwVGax9DCcjbCrA a3FNsHDp19E0FAVeCV4N5gnsH8CXgM8Dnws+B3wN+DHwGvAr4O+DtwL7iW+DPQ 7eAP4n+KfgBDhIBOKvwOvAjWBuKci4w0fSD2ARP+ZhPaeA20o8cfV/B5tx/Rx4fJ6AR 8P+Oph1WAQ+E1wOqkKQn4EXgtnHd4IHgFWSLy00rtl4AC/MGtYnfWl2vxG8iqXn7p mhFr+3ErxWPTD/H7G+NC54/T3lNG1SVrdaZfUZjPJ54wKCtcRNo9+ovDGWPXevevK p+WrF++vVvJfeVZvq+eOdaGpuSanP1yxUW+2C2b3nNuiBHjgqqjcZ3CW99ANqkmz6r PFAGDnwOpLsQGE74Jpg2QUcN5AD2Uq67Ifc14FPAfOLKZTGwZFMEP4czGetrPezY LkBEdx8PDYM/D2wn+h/tj+hSJ11ZXlzwQTSveBiKdj/fHZJjDwNHgvmCXWQ+A71n32 JI6HfAuYE8GtfelvU3yMT3n7yiDf5CeDRdsOaTWOdNP4QO0GDEZuRfh2LzAKWsq+8+ ob6r989XhB4EV2/hJUGgDX1wHeKf8VMjxXZjPboa2wxnyuXL1fX3TFP/elvb+YFr4Rp qnfLZELPbd02R7XfOVjydQJ5OOqwdwfUgwOEM8ipYAKiLcRl6rXgN8G/BQt4oXp0BjQ OdCHmCQJabG2RF7YlU0weLs+jXqT5ZUS+nyOdA7ut9FVk9INX4nC7MtW20s7ukuKf gLSOD5EGXOIZLgftoGf1cGNIao/qhLJrzB6Xp9GKz3lxemTGDG4aFq7z0HYDiiuT4Wq 33i4T1a7y9LD2pxz90zHPpxMoWKq0K/0C0blEw/KkLMTxxVVMFO3jM/CLKWWw+0 JpdWAwoQzXYf3PZf8eEbF5U8q/lIzIjOR9o01qXxs/qxvJfR+ZhzkitQ4siXTqP46JY0zjx 5uVeF5H1+HUo/fDfcGcOTgtjcppboQlsyctpMxdxhRX5pABfVXNQF9f4wWTuPZjLeWf

 IQptWnv5pRH4jXYKzpl2NviydoofFbbGZ1gJ/V++61LVV0oNEJL/7yFpnAWCy26/GwH eVuINIIpqbYyIkQSpBqoPxAJkT366IiqIlz5o7FFqv125XctP+BcF1dkX/MRzdD5ZanRO wC6lP10paqTsvt0I9YvzJkXag4bZV+NtUfcVUIdvh23+2G195uYVAPROHfjjhmB1g9dX IWFVMLFM1/wyzilTrLaGSSEjD8Ba2hrAl483gswA8xlKUN9D3hkl5C971iQG6xCz+WV sDGK9juTNWMjoqVUvqcSIIyUxVFpVPdTs31yrDvzmaWpzfXOojyTOufJs1XvIGLlUqbV /NzcRzvruz/tYZtW+Z3o+Ucrk869Q9z7+glqY5++1nzXpQDXy0O96YdIo0yyb5a6R2378 DexE46pNXIqt8DK2r/I+wnPf6Kd1uHgY/Kg/sYz6eMSK2sP5i2nFxQLwPDBvJB+Be4C 5TP4GeAI4biaCOYek88XwJyjjwJPBQ8FCB0HZXi4CcimuX3PTeBPgae3vwKxfW+gvy MQ4Qlwa8nT5JnCdJHYGmcTbR72BGF0XDmbzUr+pmoCZMrX0r8o57Apv9oqqfJ9d xqvnH7pNnXz2D9U7K3JXQ71ru6vbZlysxhx5alaI1D8fwVJWynVNq15QDl68sLr3yfIN XtiwP/Dww2rmldPU7D8uCJr19U2XTFETT7s4y5Z69xHcu7B1yNP+RMoOO4DJilXGi7 8h1pQyxssXqhscfg+OO3DgNzMXfAV4LThIjyPhWvBY8G/AXwOXQryBBW9ijyEtCsDz YDu/lAIDeXlotDmQ1ikvk8BsrT59RvUIYw1it6pmV8z5GTPTxg/xg/x5KjnqqLwN6T3iA PXQE0+r5S8+pJ6a/6xavXadqq2tUQeOG6PGTZysqrcZkhUjvf6fKr0WN1BUxlTCmJ3m BtX6jz+oqv3OyvIPu0j2HqAuuu4OdeJ3/qL++tcn1MKlq1T36iq1z+iR6rB/m6R6Dc0+v HXwQ4fWRbzRctY1EaPa32qn4vYhYdXZktLOQGWzv5Ds2m/EJWdDdlY+4v6Qs/n3w TeCzcwAJYbc3o/xqJgiewAzsIV/hNv0YeAxrM7k792WBdepxC6HewdPkVFh4LPdYR NO0hznR1vz09jaoaAwALW+NEslRx+PZ7Z8dJifdtjnSDUFnI+aF1yPnVaTW6jxjmo/Zu Be+eJtofYq1HtaTN0bYDsc/GqMT9DEIXMzmKeTpT7/DMauXAd6wDazHqDDZSS7Xi T1ADsb3lMtz80MhCjtsuWVW1R6xfO6LH0fQZmUnl7/qWp+8orSCgnkbn33MZV6895 MW9lmabdIf9sD+bvQ5b+hLYNj2nMubMWA1x/qBlwQyPmIPV2hNvYAfgLs1Jk3Ktx+ 1M9h3WjStTKYsRNqfeFm1bqQ5ymlU+s7D6nmp8zsq28WDCll+vTUOw+rFpRbDkqtel k1//lCU5C0ldKvS0FuXfCqaac6uJDqlUFOjInxCmx3xNgLMf0cTvWFOFZ82tYDtkpbdc GZVq69WRADWesog7L54amqlTNYCZRaNl81P3KR+YPrevGMvag+xDLSO9DSaVjtPj NDNT/Lm3rbKfXh26rp/u/ht8HNpiy2i/EJ1BCW9iecRFcFME+Oo+jqKEMR6R/Bd04ef/ Z8hdrYA1hCYwYWct9BNq9TmmfD1OU/DnLqKp1SzY9OU01gnhIXQw5+H9w8/1rVe M9pOKhvcZfKCAy06NiuNLpbnguu1mdnqqb7vqfSG/lUpXBygNKW/7tdNd3+bbwdi3e vkZVMEqkvItqfTldn+kg7domPrdGKoREt4QnsXyNsxSb/b7EZKv6F90ASoFwJ99HMgv ex9ICmDCOCyviYYZ968w+qYfFTqmrcqSq594nKqukXlk2nOQ2f66V36wuzAMAPjV/g 1EhiZ5efqQvLb138pEqteEmXl9z3FGX33TG6zOZ6lVr0BJbfs5Tz8TKv7hKRraAuIDblm 36QoNgSp7pvW/u+XHchOSCmLXyEw2ef5aDFeYLI15HHrWIO64EkXlRYwnMbTVwz6 kMc06fmmTBA7TrwtFrSjD8+8SZT8/zrwb9WiR32VNbAvZS9FUCFlzoUZlsHP65PrVu o0qtfxXI5hYk2Jh7C+cErZUn5LFPPzM2bVevLc1TLS7coe9uRyt5xrLK2Gqzs7r2V04oy cYNI/wt/h3rli8piHdgul/zxvbZKB4S0H3vjFdbZr7VI/i4kt4tpywcxtmJNXKKtB8eVV2zM ir/bA8mEbS9OpcxLJxowOMwRwOjXKDG4KUk59ixA42WPtf/AY36wUHCKk7lO8BSUc vPw3TAIWQ+A9JeYLAN+6fWLAdYlbok5Du4NwdyhJKu5ws3CbWtk+2i3rXwziFv2Fifi Xtwo9w3LPckI7SMZBaHGLSTRACi6sqX8QEOGa2j0pGPZC7Gp1UYDFB9gPPC4MXR XQ/e6XHRj56dAiAH1hOZKfe1a/bOgB07jwE8vvlmyE7Mmvl7iYtnt5Zd6iDS5vc+c+sAi acaJbaXmxtcX2e230hb6p0tS7mtymWYOzKgla3yGvn3JUTp3AJ6089ygJqKapbQ/bq uj7B79+76K4VuvscU9KQe0ln6dafifA9yVRgeUdJpONGDAtSRRoe4l6Lj0ZWzCMiON7 oJV52E2+hppdBdcXv0klnZCQYwHXQMyA04dhslQtFkS3DTTZtr9bTY6HrM9A0tXJC5 ro4hnIqXMGv64I/wXITq/ha5AcduOg0po4D5xeW2zv7PwJgVIj25X6kEuOiVYA8SVLvh

 MmgEiLRoEWuEH0jVR+nWT6n9U5NeNFZ8EFEkAK7pOdNMlLQt8tBXAOi8/XAq0H6 W39uze3fSN+HQdyRl4Q0RzeEJdyqDzhz3Of9GF9eUxbTsRtp4x9ijTMBi+FmVkuv7lC Mb6/HCA0gXDuBAwhPjovSXSKbWOlbpId9Uuq3cWZGyu1H6+NNqz8iCWJpG8EJ0Sr GdtV2odbRHptcvfPtEptW793Zq2uCs+QpLeeopKBE2NSC8muS+cz8uTgSOnEIrzK/YX UIWUV6wPf9ARRVwG/zTKGJHOFdBcsDuLhXvphicT1oMEqQaNK0MBJF1I6dcltj8Nu n9ZrHVdG199Av5ZoNIAYmDfDYSXkoeqe7hG6dfpRvKX6a9L1A1Jx0B8iYcJ+UETqct +xj3rPQatPrzEll+M/NwDl4N4mh1FQ6IMHZieb6xcgrp8s4j6XAnfA/P5awB3v3zFYgx3 7IXNvpFSD3jkFhkWKLDi1CtwvfImCAg0n/Tr4uNPo66h7Uq/TpvfV/KzbtRNbQ3QdX0j /P0x/HpYPNuy0na36t+HtbsLpT2AtsStMPgSxpA2tvd05Iv7oYSE5bdVCLkvD4S6jkdqu W4UoQUUkLgGPk/E+BFrfwTzl1p6eEf4bov028EEfF7SAKYXBuxdBgwGfHpQ6+UnrilD mLVgOqWukQYTE12G0DolSGot/sHyzLIXjoiZtRxmZpJ81V58RNJpEpFOUkquP8ujv24 bJD2lDn5d29Nqfs/LlqyFS1emT9G4WTEN7A/bfPAeMT5hJu75bgkzlJDGnypGEZfqHf 2ngMLq8mMkxj1S4qO7m8F8z5w3uKHgKjDrz99S/wyMyVT/MUGI/OQBuEf3bv8LEO vTaG9GQ349o7lxBBqUesC74BVwa3AQfC5QgpJ+4iPAF6nj+UDlgsiADfnET6QpH89p GVKW0Mgvy2CWI7NxVHt0/ZBf6un3t+0k/6LDl4H4kz8+AominWB4CczB2T3KyU3niT P3gly5FHqKzdFSCD0Jp/oYx5/ARhATJF8UvYOCZxdQ+L7wuRW8AtwM5o2Uv/r6OZh gLpg8AFuXLPoE4JhDgPCgh4zfCnvS6ACFTqOPKUMkrwTsAhjaqFOKn0j6iy528ZX8/ pjU851Ks+7azQW8boevPfrmoQtjLPxPf1d67aa/ct7rMXrv+3Wwrv/B0+gL8jSzFvYZ4O Xgm8DcH38FvAN4OPibYA5cDuAjwe1BnyDo3DyBfwH7a+Axefza0/xDBJ/fngX4Y3sA ZqJdnbwOf2wO7x7iggPbHeweoDUYOeuZ/+hDTfx1YOYVEp3S5xuVP1ievw5GN3EE8 P40HV+/yYU6Qeq3yXCzEWkeRTF/pr7G5vc3up22f2WdcH/cUkha2FUkZwPud/PR9n DgqfKfwW+CucVYCn4IfA6Yy8FiSUZJIfm4Wsj3vewJH64YRhYSsB18WhBzEvitdoidEz ILwD2nL3s/7VhzCUvNumszA16Wp96SFX46zfUXva12r9yI8lkrDVRTO09nmh/MGYBz JUEbPrTCtjDBtE+rbIOYTfqqnt163gGnLxsRgNybdWbiCuDGAirIpf4XuSf+DOXvD/5DA XXN5xJ7w8oCMCPVVifRcGcDR7Ue4K7UujvYBQAaOBz0GiTIXKrkYyHGoCQztkiW7eq ZGwTcdRpcScxCotS6WzfG8cdinjBGI+10eqo1fSH3Je1JcV+KtKLY8ltjMsTZJBtPow8 Dc6/ZkcQZqxi6CM6PFZBhdIxPXP8zWz57TGjPxHOFyeCzwB94qYUr3ODxZvWjuCw5 ALamL/nYdhKXcqnJ/0Qa3SyfZcoyS16zX9Y6/EVqwPhBBN3cEIz065GAC+TPiunWza SZepp6UXcLY36tU7rdIFJfEtgkSt3eJ3pes+pBndS+H8tiwi+JscWZFsYY42z+bBx0R4N /508sUW9A/nUxMd6NsYWZCC4C440woy9tpU8PqouCCb7rldAbfdelqnMQYBiYL8a8 XUAwHtQxz67g/wQTyFHUnANgevbsfsotGNKv5ABUH2ARHARJLsDpz1RKk5f4oT+C CnBEsiDRxe75IsGL4b9BMFkyZfRMee4NxK2fKZd1NWXprCY0w+t0kfCqT6rE+axWB9 C9KCNsludg/2Mby+fMGQYGzr6ziojJep0JPgQcN9BhzkvcK+8OPjfCk3XmwVextAkZD gDH7Yk5e0XRpzDwOwij2WGJJabxhjATzP35juDvgf8LPBf8CPhO8NXgo8DbgDlry418 IPQo2oBxG06NF4/YucVpeR1LzT56goIbB7s+J+LgBzEzVS9IMEGMrn9OhqCdQf0UjO e3Qc+pD/wlja4ENg+qBPT65oIaU2ryxbeUfXrtjOVzjaFDPv8DpfBO28stjYOKwPmTe90 WwRPhu8BfdTN/BHkO+AH3ulhRjQzHg1mvgwvMzMHKQy3O4n/z5WEMDloOUM4qB PdpYO4XS6FxyPxb8Bg3SB3kheDb3Oso0ReGW8E8cCKxTjeAp4E5y3cWehEV+VpEZ W50R3K4ue4nOx2H0X+/BwAXDPr0FlmCAMmBtA8gLCFwmZNfwObF9+VhfmRAEES hBOXzD5anM/k+vHDKurv3tStO9pk6St0aBY0Hc8C8DN4ALgcNQhAOUM7I5RqMXAY eBN4H/BVwb3ACzG5eAeZMyh+DPw6Oeu2xG2xDwbxZ8fFVOWkwgvUHsx5NRQTeE b47gbnN+KSIfB3hyj5fCmYfh9GpUQbPue4nQ2/AM1Le0XIA6DkVqBB2LNDALzeT2KI

qFcwf9M9nD5ZIf7y88nZNTc/9cXDFZVmFKj3QmXrgPlSGK6AoGh66B/Z71/ac8iNbW fdpsGDEi+TsVSwTuXryJHLcWCIlrsiw2MH8Ekt8JS+lXxd7UKJdqyyremIFvP5vvKKXs Qf4VhhXHW2hM5ApDryvwf5eXgBb06ena2p7ngzwPM1ayNtO1AkoTS4gPd1NJohIAij RdSI+JJZ+C4o7EF+audCfphwNeERypd7H+tL84Bag6nism5DoRn6StNU3amYs/kDM FVnpgTL1AEF7I5hLcp4JvAXm6X6hdDoc8x2m3c5ggjHqseRM3712c13Dg+l0+nBvjw qkyD5UZ2Y0gkOiii7ACZaQzz+PXcqOrE9EeZat1llJa2Ltr1Zwz1ahSg+Uuwf4JOHbIUF 52nwZeE2IjUlDwVeBTwTH0VoYdwE3CNTinD0bQFy96fP6u/Bg5wSTmAdhGsmCYuY QPQrRXlERSr7ygtmC/rBb1nvV1ckjul+zZHnQu3Jd6YEy9MAeiPF2TJwW2J4CLwC/D+ ZBIA/SDgMfCOayOx+dBofb6cQRXhQ506fbdXV3zVDp9I+Cp8L5AgXhmwMvOWGmJ HEtLGkmJfAZjBAsIcf9RbuHNan26jz/kHAgW+Wy0gNF9ABn3rY+yy+kmIfg9C1xLBrA knHj1KHfxMsct+NRUl9ZwuYATsAngJTMIoMADeIxOIPn+CODpElMn5THXPDBO5LW db36DLnEmv5Mq8+lolZ6oNw9MAYB3yh3UDfeYkg+E+ZjOE1tBjBzN1w4amirar4T//g Xp/6cFXK+PWqOHUtsedmiHPEYA/eOD3HafGbNzOWP6ZiVj0oPtG8PEFM88D2kzM UsQ7yDwVmHriUBmBXE5GZtnjr8VPyoYAb2xv2ZFkWwZwFUwOq9GRWVscB0f3w0L GXZ9k21fe2fWdOXbSwwRMWt0gPl6IFtEYRv1B1QjmCI8Qx4Mng9OItKBrBEcy4evVV dw+bLnXT6bMysPZkuS1hKUs6Mm7PFjd/DBgHvB2xWfNt+zLYSl9XOXPqmLrjyUem Bju8BHk5dCr4Y3KONxW9GvmvAfAU1FRajbACW4HXnD++Pfw1wKn5PcB7eQu7t36I GAe0dULl7ZFZGIMx4ktfFf9A9y4683Oc+kHDsq2puXNZeexBpZkVWeqDQHhgIRwL5J HCvAjPxVdS7wVeDs5bMwfxlB7AU4Fy0Z83G5vpJeFvjFAD5UIAw56WRfIANnmFlIZY FAfiWgz8CZqs7q2zr7h7/vXy1lF+RlR7oZD3AWfgY8CHgseCh4L5gwoAvfPDZ8CvgBe BHwQ3gvMTM7U71U0cMbG1pmYgl76E4UJqQdpztTaEsPjPnZl9lLPTwUT2a/Dz+Ntf TCWU/WXPzstd9topa6YEvVQ90CICDPdo4dcTOTc2to1D4KMB0JOwD8EiqF5bdvSzH qYFsAkDrANQ64HsDJtql+NnBIhxKLa7ZpurdDviLGcEqV64rPdApe+D/AT/o7x9OSU1 OAAAAAElFTkSuQmCC" alt="flatfy.ua"></a>
    </div>
    <div class="footer_creators">
        <p>ООО «МЕТРАЖ» 2004-2019 (с)</p>
        <p>Разработка: <a href="http://lineup.com.ua" target="_blank"><img src="/img/linelogo_black.png"></a></p>
    </div>
</div>
