<div class="widget">
    <h3 class="widget-title">{{ 'Residential properties'|trans }}</h3>
    <ul>
        <li><a href="{{ path('lived_complex') }}">{{ 'New buildings Kharkov'|trans }}</a></li>
        <li><a href="{{ path('search') }}?type=2">{{ 'Elite real estate'|trans }}</a></li>
    </ul>
</div>
<div class="widget">
    <h3 class="widget-title">{{ 'Commercial real estate'|trans }}</h3>
    <ul>
        <li><a href="{{ path('search') }}?type=4&sub_type[]=5">{{ 'Offices'|trans }}</a></li>
        <li><a href="{{ path('search') }}?type=4&sub_type[]=2">{{ 'Trading platforms'|trans }}</a></li>
    </ul>
</div>
