<div class="widget">
    <h3 class="widget-title">{{ 'Land'|trans }}</h3>
    <ul>
        <li><a href="{{ path('search') }}?type=3&sub_type[]=6">{{ 'Residential'|trans }}</a></li>
        <li><a href="{{ path('search') }}?type=3&sub_type[]=8">{{ 'Agricultural purpose'|trans }}</a></li>
        <li><a href="{{ path('search') }}?type=3&sub_type[]=7">{{ 'Industrial purpose'|trans }}</a></li>
    </ul>
</div>
<div class="widget">
    <h3 class="widget-title">{{ 'Production and premises'|trans }}</h3>
    <ul>
        <li><a href="{{ path('search') }}?type=4&sub_type[]=10">{{ 'Production'|trans }}</a></li>
        <li><a href="{{ path('search') }}?type=4&sub_type[]=3&sub_type[]=1&sub_type[]=4">{{ 'Warehouses, garages, other'|trans }}</a></li>
    </ul>
</div>
