<div class="widget">
    <h3 class="widget-title">{{ 'Company'|trans }}</h3>
    <ul>
        <li><a href="{{ path('static_page_about') }}">{{ 'About company'|trans }}</a></li>
        <li><a href="{{ path('static_page_services') }}">{{ 'Service catalog'|trans }}</a></li>
        <li><a href="{{ path('agents') }}">{{ 'Our realtors'|trans }}</a></li>
        <li><a href="{{ path('reviews') }}">{{ 'Reviews'|trans }}</a></li>
        <li><a href="{{ path('static_page_contacts') }}">{{ 'Contacts'|trans }}</a></li>
    </ul>
</div>