<div class="adress-wrap">
    <div class="sec-header">
        <h2 class="sec-title">{{ 'Our addresses'|trans }}</h2>
    </div>
    <ul class="adress">
        <li><a href="mailto:{{ email }}">{{ email }}</a></li>
        {% for address in addresses %}
            <li>{{ address.name }}</li>
        {% endfor %}
    </ul>
</div>