<div class="phones-wrap">
    <div class="sec-header">
        <h1 class="sec-title">{{ 'Contacts'|trans }}</h1>
    </div>
    <ul class="phones">
        {% for phone in phones %}
            <li><a href="tel:{{ phone.phone }}"><small>{{ phone.phone[:3] }}</small>{{ phone.phone[3:] }}</a></li>
        {% endfor %}
    </ul>
</div>
