<div class="m-house-box">
    <div class="m-house-wrap">

        <div class="m-house">
            <div class="m-house_slider-wrap">
                <div id="m-house_car" class="m-house_car">
                    {% for image in realty.images %}
                        <div class="m-house_car_i">
{#                            <img data-src="{{ image }}" class="lazy-load" alt="">#}
                            <img src="{{ image }}" alt="">
                        </div>
                    {% endfor %}
                </div>
                <div class="m-house_nav-wrap">
                    <div id="m-house_nav" class="m-house_nav">
                        {% for image in realty.images %}
                            <div class="m-house_nav_i">
                                <div class="m-house_nav_img">
                                    <img src="{{ image }}" alt="#">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <span class="house_ad-type">{{ realty.status }}</span>
                <span class="house_number-photos">{{ realty.count_imgs }}</span>
            </div>

            <div class="m-house_content">
                <span class="m-house_date">{{ realty.datetime }}</span>
                {% if ( realty.title ) %}
                      <a href="{{ path('realty_show', {id: realty.id}) }}">{{ realty.title|trans }}</a>
                {% else  %}
                     <a href="{{ path('realty_show', {id: realty.id}) }}">{{ 'show page'|trans }}</a>
                {% endif %}
                <h2 class="m-house_title">{{ realty.street }}</h2>
                <h3 class="m-house_region">{{ realty.district }}</h3>
                {% if realty.coordinates.lat %}
                    <div id="show_on_map" class="m-house_map-link link-st" data-lat="{{ realty.coordinates['lat'] }}"
                         data-lng="{{ realty.coordinates['lng'] }}">{{ 'display on map'|trans }}</div>
                {% endif %}
                <p class="m-house_price">{{ realty.price }}</p>
                <div class="m-house_text">
                    <p>{{ realty.description }}</p>
                </div>
                <table class="m-house_tb">
                    {% if realty.number_in_database %}
                        <tr>
                            <td class="m-house_tb_tdl">№ {{ 'in db'|trans }}:</td>
                            <td class="m-house_tb_tdr">{{ realty.number_in_database }}</td>
                        </tr>
                    {% endif %}
                    {% if realty.lived_complex %}
                        <tr>
                            <td class="m-house_tb_tdl">{{ 'Lived complex'|trans }}:</td>
                            <td class="m-house_tb_tdr">{{ realty.lived_complex }}</td>
                        </tr>
                    {% endif %}
                    {% if realty.rooms %}
                        <tr>
                            <td class="m-house_tb_tdl">{{ 'Rooms'|trans }}:</td>
                            <td class="m-house_tb_tdr">{{ realty.rooms }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="m-house_tb_tdl">{{ 'Deal type'|trans }}:</td>
                        <td class="m-house_tb_tdr">{{ realty.deal_type.name }}</td>
                    </tr>
                    {% if realty.floor %}
                        <tr>
                            <td class="m-house_tb_tdl">{{ 'Floor'|trans }}:</td>
                            <td class="m-house_tb_tdr">{{ realty.floor }}/{{ realty.floor_all }}</td>
                        </tr>
                    {% endif %}
                    {% if realty.square %}
                        <tr>
                            <td class="m-house_tb_tdl">{{ 'Square'|trans }}:</td>
                            <td class="m-house_tb_tdr">{{ realty.square }} / {{ realty.square_living }}
                                / {{ realty.square_kitchen }} м<sup>
                                    <small>2</small>
                                </sup></td>
                        </tr>
                    {% endif %}
                    {% if realty.square_plot %}
                        <tr>
                            <td class="m-house_tb_tdl">{{ 'Square plot'|trans }}:</td>
                            <td class="m-house_tb_tdr">{{ realty.square_plot }}</td>
                        </tr>
                    {% endif %}
                    {% if realty.layout %}
                        <tr>
                            <td class="m-house_tb_tdl">{{ 'Plane'|trans }}:</td>
                            <td class="m-house_tb_tdr">{{ realty.layout }}</td>
                        </tr>
                    {% endif %}
                    {% if realty.bathroom_type and  realty.bathroom_type.id != 2 %}
                        <tr>
                            <td class="m-house_tb_tdl">{{ 'Bathroom type'|trans }}:</td>
                            <td class="m-house_tb_tdr">{{ realty.bathroom_type.name }}</td>
                        </tr>
                    {% endif %}
                    {% if realty.count_balcony %}
                        <tr>
                            <td class="m-house_tb_tdl">{{ 'Balcony'|trans }}:</td>
                            <td class="m-house_tb_tdr">{{ realty.count_balcony }}
                                ({{ 'glasses'|trans }} {{ realty.count_balcony_glasses }})
                            </td>
                        </tr>
                    {% endif %}
                    {% if realty.state %}
                        <tr>
                            <td class="m-house_tb_tdl">{{ 'State'|trans }}:</td>
                            <td class="m-house_tb_tdr">{{ realty.state }}</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="realty_map" class="hide"></div>
            </div>
        </div>
    </div>

    <div class="m-rieltor-wrap">
        <div class="rieltor">
            {% for agent in agents %}
            <div class="rieltor_text-img">
                <div class="rieltor_img-wrap">
                    <a href="{{ path('agent_show', {id: agent.id}) }}" class="rieltor_img">
                        <img src="/{{ agent.img ?: 'img/agent.png' }}" alt="#">
                    </a>
                </div>
                <div class="rieltor_text-wrap">
                    <a href="{{ path('agent_show', {id: agent.id}) }}"
                       class="rieltor_link">{{ 'other adverts'|trans }}</a>
                    <h3 class="rieltor_name">{{ agent.fullname }}</h3>
                    <span class="rieltor_button rieltor_phone">{{ render(controller('AppBundle:Html:renderPhone', {number: agent.numbers[0]})) }}</span>
                </div>
            </div>
            {% endfor %}
            <div class="rieltor_buttons">
                <span class="rieltor_button rieltor_callback"><span class="rieltor_callback_l"
                                                                    data-izimodal-open="#modal_callback"
                                                                    data-izimodal-preventclose="">{{ 'Callback'|trans }}</span></span>
                <span class="rieltor_button rieltor_button-more" data-izimodal-open="#modal_view"
                      data-izimodal-preventclose="">{{ 'Sign up for viewing'|trans }}</span>
            </div>
            <div class="rieltor_complains-wrap">
                <a href="{{ path('realty_print', {id: realty.id}) }}" class="rieltor_version"
                   target="_blank">{{ 'Version for print'|trans }}</a>
                <span class="rieltor_complain" data-izimodal-open="#modal_complaint"
                      data-izimodal-preventclose="">{{ 'Complain'|trans }}</span>
            </div>
        </div>
    </div>
</div>
{% if realties_similar %}
    <div class="m-offers-box">
        <div class="s-best-offers">

            <div class="container">
                <div class="sec-header">
                    <h2 class="sec-title">{{ 'Similar versions'|trans }}</h2>
                </div>
            </div>
            <div class="container">
                <div id="similar-slider" class="best-slider">
                    {% for realty_similar in realties_similar %}
                        <div class="best-slider_i">
                            {% include '@App/_house.html.twig' with {'realty': realty_similar} %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}