{% extends '@App/main.html.twig' %}
{% block title %}{{ 'An error has occurred'|trans }}{% endblock %}
{% block body %}
    <body class="">
    {% include '@App/include_html/_google_tag.html.twig' %}
    <div id="page-wrapper" class="page">
        {{ render(controller('AppBundle:Html:renderHeader', {'isShowingFilters': false})) }}
        <main class="main">
            <div class="page-content">
                <div class="container">
                    <div class="error-text error-text-500">{{ 'An error has occurred'|trans }}</div>
                </div>
            </div>
        </main>
        {% include '@App/include_html/_footer.html.twig' %}
        {% include '@App/include_html/_m_slide_panel.html.twig' %}
    </div>
    </body>
{% endblock %}
