<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-5 offset-md-1 col-lg-3 offset-lg-0 col-xl-2 footer_menu-col">
                {% include '@App/footer/_widget1.html.twig' %}
            </div>
            <div class="col-12 col-sm-6 col-md-5 offset-md-1 col-lg-3 offset-lg-0 col-xl-3 footer_menu-col">
                {% include '@App/footer/_widget2.html.twig' %}
            </div>
            <div class="col-12 col-sm-6 col-md-5 offset-md-1 col-lg-3 offset-lg-0 col-xl-3 footer_menu-col">
                {% include '@App/footer/_widget3.html.twig' %}
            </div>
            <div class="col-12 col-sm-6 col-md-5 offset-md-1 col-lg-3 offset-lg-0 col-xl-3 offset-xl-1">
                {% include '@App/footer/_about.html.twig' %}
            </div>
        </div>
    </div>
</footer>