<div id="m-slide-panel" class="m-slide-panel">
    <div class="m-nav">
        <div class="m-nav_header">
            <div class="m-nav_arrow m-slide-panel-toogle"></div>
            <a href="{{ path('home') }}" class="m-nav_logo"><img src="/img/logo.svg" alt="{{ 'logo'|trans }}"></a>
        </div>
        <div class="m-nav_menu-wrap">
            <ul class="m-nav_menu">
                <li><a class="current_page_item" href="{{ path('search') }}?deal_type=2">{{ 'Sale'|trans }}</a></li>
                <li><a href="{{ path('search') }}?deal_type=1">{{ 'Rent'|trans }}</a></li>
                <li><a href="{{ path('agents') }}">{{ 'Our realtors'|trans }}</a></li>
                <li><a href="{{ path('static_page_owner') }}">{{ 'Owners'|trans }}</a></li>
                <li><a href="{{ path('news') }}">{{ 'News'|trans }}</a></li>
            </ul>
        </div>
        {{ render(controller('AppBundle:Html:renderPhones')) }}
        {{ render(controller('AppBundle:Html:renderAddressesAndEmail')) }}
    </div>
    <div class="m-slide-panel_dark-layer m-slide-panel-toogle"></div>
</div>
