{% extends '@App/main.html.twig' %}
{% block title %}{{ 'New buildings'|trans }}{% endblock %}
{% block body %}
    <body>
    {% include '@App/include_html/_google_tag.html.twig' %}
    <div id="page-wrapper" class="page new-buildings">
        {{ render(controller('AppBundle:Html:renderHeader', {'isShowingFilters': false})) }}
        <main class="main">
            <div class="page-content">

                <div class="s-new">
                    <div class="container">
                        <div class="sec-header">
                            <h1 class="sec-title">{{ 'New buildings'|trans }}</h1>
                        </div>
                    </div>
                    <div class="container">
                        <div id="lived-complexes" class="row">
                        </div>
                        <div class="row">
                            <div class="col-12"><ul id="page_pagination" class="pagination"></ul></div>
                        </div>
                    </div>

                </div>
            </div>
            <ul id="page_pagination" class="pagination"></ul>
        </main>
        {% include '@App/include_html/_footer.html.twig' %}
        {% include '@App/include_html/_m_slide_panel.html.twig' %}
    </div>
    {% include '@App/include_html/_modals.html.twig' %}
    </body>
{% endblock %}
