{% extends '@App/main.html.twig' %}
{% block metadata %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="{{ meta_keywords }}">
    <meta name="description" content="{{ meta_description }}">
{% endblock metadata %}
{% block title %}{{ lived_complex.name }} {% endblock %}
{% block body %}
    <body>
    {% include '@App/include_html/_google_tag.html.twig' %}
    <div id="page-wrapper" class="page page-new-building">
        {{ render(controller('AppBundle:Html:renderHeader', {'isShowingFilters': false})) }}
        <main class="main">
            <div class="page-content">

                <div class="s-about">
                    <div class="container">
                        <div class="sec-header">
                            <h1 class="sec-title">{{ lived_complex.name }}</h1>
                        </div>
                    </div>
                    <div class="container">
                        <div class="about-wrap">
                            <div class="about">
                                <div class="about_img">
                                    <img src="/{{ lived_complex.img }}" alt="{{ lived_complex.name }}">
                                </div>
                                <div class="about_cont">
                                    <p>{{ lived_complex.description|raw }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="s-new-more">
                    <div class="container">
                        <div class="sec-header">
                            <h2 class="sec-title">{{ 'Similar'|trans }}</h2>
                        </div>
                    </div>
                    <div class="container">

                        <div id="new-slider" class="new-slider">
                            {% for lived_complex in lived_complexes %}
                            <div class="new-slider_i">
                                <div class="new-b">
                                    <a href="/lived-complex/{{ lived_complex.id }}" class="new-b_img-wrap">
                                        <img src="/{{ lived_complex.img }}" alt="{{ lived_complex.name }}">
                                    </a>
                                    <div class="new-cont">
                                        <h3 class="new-b_ttl"><a href="/lived-complex/{{ lived_complex.id }}">{{ lived_complex.name }}</a></h3>
                                        {% if lived_complex.metro %}
                                        <h4 class="new-b_district"><img src="/img/line{{ lived_complex.metro.line_id }}.png">{{ lived_complex.metro.name }}</h4>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include '@App/include_html/_footer.html.twig' %}
        {% include '@App/include_html/_m_slide_panel.html.twig' %}
    </div>
    {% include '@App/include_html/_modals.html.twig' %}
    </body>
{% endblock %}
